.PrevNextNav {
  position: absolute;
  left: 0; right: 0;
  z-index: 1;
  bottom: 0;
  border-top: solid 1px var(--grey);
  background-color: var(--main-bg-color);

  &__container {
    margin: 0 auto;
    max-width: var(--content-max-width);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;
  }
}
