.PrevNextLink {
  display: flex;
  align-items: center;
  max-width: 50%;

  // For some reason `--disabled` className doesn't apply.
  // Workaround: custom [data-disabled] attribute.
  &[data-disabled],
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--prev {
    padding-right: 12px;
  }
  &--next {
    flex-direction: row-reverse;
    padding-left: 12px;
  }

  &:not(&--disabled):hover,
  &:not([data-disabled]):hover {
    .PrevNextLink__icon {
      color: var(--dark-grey);
    }

    .PrevNextLink__label {
      color: var(--dark);
    }
  }

  &__label {
    font-size: 12px;
    color: var(--dark-grey);
    transition: color 0.25s;
  }

  &__icon {
    font-size: 24px;
    max-height: 24px;
    line-height: 1;
    padding-left: 6px;
    color: var(--grey);
    transition: color 0.25s;

    &--prev {
      transform: rotate(180deg);
    }
  }
}
