.SongLoader {
  &__avatar {
    line-height: 1;
  }

  &__header {
    display: flex;
    align-items: center;
    padding-bottom: 23px;
    border-bottom: solid 0.5px var(--border-color);
  }

  &__title {
    margin-left: 12px;
  }

  &__main {
    padding: 24px 0;
  }

  &__span {
    display: block;
    width: 62%;
    margin-bottom: 10px;
  }

  &__block {
    padding-top: 10px;
  }
}
