.FileDropzone {
  height: auto;

  &__input {
    display: none;
  }

  &__label {
    display: block;
    cursor: pointer;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--mid-gray);
    padding: 24px 16px;

    b {
      text-align: center;
      line-height: 1.2;
    }
  }
}
