.FooterItem {
  display: flex;
  width: 25%;
  max-width: 120px;
  flex-direction: column;
  align-items: center;
  padding: 6px 4px 0px 4px;
  cursor: pointer;

  &:hover:not(.FooterItem--disabled) .FooterItem__label {
    color: #FFF;
  }

  &__icon {
    font-size: 20px;
    color: #FFF;
    padding: 10px;

    .FooterItem--active & {
      color: var(--orange);
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--dark-grey);
    transition: color 0.25s;

    .FooterItem--active & {
      color: var(--orange);
    }
  }
}
