.Collapse {
  &__content {
    overflow: hidden;

    &[data-state='open'] {
      animation: slideDown var(--transition-duration) ease-out;
    }

    &[data-state='closed'] {
      animation: slideUp var(--transition-duration) ease-out;
    }
  }
}

/**/
@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
