.PageList {
  padding: var(--side-padding) 0;

  &__title {
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 0 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    padding: 0 8px 8px 0;
  }

  &__button {
    height: 32px;
    width: 44px;
    padding: 8px;
    border-radius: 6px;
    border: solid 1px var(--grey);
    color: var(--dark-grey);
    background-color: var(--song-bg-color);
    transition: color var(--transition-duration);
    cursor: pointer;

    &:hover {
      color: var(--accent-color);
    }

    &--active {
      color: var(--beige);
      background-color: var(--dark);

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
