@use '@/styles/mixins' as m;

.SongShare {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__button {
    font-size: 16px;
    color: var(--dark-grey);
    padding: 8px;
    margin-left: 8px;
  }

  &__header {
    width: 100%;
  }

  &__title {
    font-size: 20px;
    line-height: 140%;
    color: var(--title-color);
    margin: 0 0 16px 0;
    text-align: center;

    @include m.tablet-up {
      font-size: 28px;
    }
  }

  &__qr {
    margin-bottom: 48px;
  }

  &__copy {
    width: 100%;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    padding: 16px 4px 16px 24px;
    border-radius: 24px;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
  }

  &__label {
    display: block;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 16px;
    text-align: center;
  }

  &__input {
    flex: 1;
    font-size: 16px;
    margin-right: 10px;
    width: calc(100% - 68px);
    border: none !important;
    outline: none !important;
  }

  &__share {
    box-shadow: -35px 0 15px 0px var(--song-bg-color);
  }
}
