.ContentItem {
  padding: 8px 0;

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  &__box {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    line-height: 28px;
  }

  &__title {
    flex: 1;
    line-height: 28px;
    margin: 0;
    color: var(--title-color);

    &--normal {
      font-weight: normal;
      color: var(--dark-grey);
    }
  }

  &__page {
    display: inline;
    font-weight: 400;
    color: var(--grey);
    margin-left: 16px;
  }

  &__menu {
    flex: 1;
    font-weight: initial;
    line-height: 28px;
    margin: 0;
    color: var(--title-color);
  }

  &__embed {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 0;
    color: var(--grey);
    margin-left: 16px;
  }

  &__views {
    display: none;
    color: var(--title-color);
  }

  &__suffix {
    position: relative;
    width: 24px;
  }

  &__icon {
    position: absolute;
    font-size: 24px;
    color: var(--dark-grey);
    top: 2px;
    left: 0px;
  }
}
