.VerseWbw {
  list-style-type: none;
  margin: 4px 0 0 0;
  padding: 0;

  &__paragraph {
    color: var(--text-color);
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 16px;
  }

  &__note {
    font-weight: 600;
  }

  &__term {
    font-weight: 400;

    [data-mode="2"] & {
      font-weight: 700;
    }
  }
}
