.Verse {
  &__subtitles {
    margin: 16px 0;

    &--large {
      font-size: 24px;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 11px;
      left: 0;
      right: 0;
      border-bottom: 0.5px solid var(--border-color);
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--song-bg-color);
  }

  &__paragraph {
    p {
      color: var(--text-color);
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 16px;

      .word-by-word-mode .SongVerse__translation & {
        color: var(--dark);
      }
    }
  }

  &__light {
    font-weight: initial;
  }
}
