.VerseText {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;

  &__line {
    font-weight: 700;
    line-height: 24px;
    text-indent: -1em;
    color: var(--title-color);
  }

  &__indent {
    &--0 {
      margin-left: 1em;
    }

    &--1 {
      margin-left: 2em;
    }

    &--2 {
      margin-left: 3em;
    }

    &--3 {
      margin-left: 4em;
    }

    &--4 {
      margin-left: 5em;
    }
  }

  &__light {
    font-weight: initial;
  }
}
