@use '@/styles/mixins';

.SearchControls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--side-padding);
  border-bottom: solid 1px var(--grey);

  &__container {
    position: relative;
    flex: 1;
    height: 48px;
    padding: 4px;
    border-radius: 24px;
    border: 1px solid var(--grey);
  }

  &__input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    color: var(--dark);
    letter-spacing: 0.8px;
    background: transparent;
    border: none;
    outline: none;
    padding: 2px 54px 4px 14px;

    @include mixins.placeholder {
      color: var(--grey);
    }
  }

  &__clear {
    position: absolute;
    right: 7px;
    top: 4px;
    height: 40px;
    width: 40px;
    font-size: 18px;
    padding: 10px;
    transition: color 0.25s;
    color: var(--grey);

    &:hover {
      color: var(--accent-color);
    }
  }

  &__submit {
    height: 40px;
    width: 40px;
    font-size: 20px;
    padding: 4px;
    margin-left: 12px;
  }
}
