.AudioListItem {
  &__content {
    position: relative;
    height: 60px;
    padding-top: 12px;
    animation: fadeIn 0.5s;
  }

  &__loader {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 60px;
    padding-top: 12px;
    background-color: var(--main-bg-color);
  }

  &__skeleton {
    display: flex;
  }

  &__margin {
    margin: 0 12px;
  }
}
