.FeedbackWidget {
  &__header {
    text-align: left;
  }

  &__container {
    height: fit-content;
  }

  &__button {
    height: 32px;
    font-size: 14px;
    padding: 8px 14px;
    color: #fff;
    background-color: transparent;
    border-radius: 16px;
    border: solid 1px var(--accent-color);

    &:hover {
      color: var(--accent-color);
    }

    &:active {
      color: var(--accent-color);
      filter: brightness(2);
      background: var(--brown);
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__appeal {
    font-size: 14px;
    color: var(--dark);
    border-bottom: solid 0.5px var(--border-color);
    margin-bottom: 24px;
    padding-bottom: 24px;
  }

  &__finished {
    border-top: solid 0.5px var(--border-color);
    margin: 24px 0 12px;
    text-align: center;
    padding-top: 24px;
  }

  &__field {
    display: grid;
    margin-bottom: 12px;
  }

  &__label {
    display: block;
    margin-bottom: 4px;
  }

  &__footer {
    padding-top: 8px;
  }

  &__submit {
    height: 44px;
    width: 100%;
    border: none;
    border-radius: 24px;
    background: var(--brown);
    color: #fff;
    font-size: 16px;
    font-weight: 700;

    &:hover {
      color: var(--accent-color);
    }

    &:active {
      filter: brightness(2);
    }
  }
}
