.Layout {
  overflow: hidden;
  height: 100%;
  background-color: var(--main-bg-color);

  &__content {
    position: relative;
    //height: 100%;
    height: calc(100% - var(--footer-height));
    overflow: auto;
  }
}
