@use '@/styles/mixins' as m;

.Layout {
  overflow: hidden;
  height: 100%;
  background-color: var(--main-bg-color);

  &__content {
    position: relative;
    //height: 100%;
    height: calc(100% - var(--footer-height));
    overflow: auto;

    &:focus {
      outline: none;
    }

    @include m.sidebar-mode {
      height: 100%;
      margin-left: var(--sidebar-width);
    }
  }
}
