.Loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--brown);

  &__container {
    min-width: 220px;
    max-width: 700px;
    margin: 0 120px;
  }

  &__image {
    min-width: 100%;
    width: 100%;
  }
}
