@use '@/styles/mixins';

.BookList {
  margin: 0 auto;
  max-width: var(--page-max-width);

  &__content {
    padding-top: 24px;
    width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: var(--side-padding) var(--side-padding);
    width: 100%;

    list-style-type: none;
    margin: 0;
    padding: 0;

    @include mixins.tablet-up {
    //@include tablet-up {
      grid-template-columns: 1fr 1fr;
    }
  }
}
