.BookDescription {
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__info {
    margin-left: 20px;
    width: calc(100% - 72px);
  }

  &__title {
    margin-bottom: 4px ;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: var(--text-color);
  }
}
