.AuthorsLink {
  &__header {
    position: relative;
    margin-top: 24px;
    height: 44px;

    &::after {
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
      right: 0;
      border-bottom: 0.5px solid var(--border-color);
      z-index: 1;
    }
  }

  &__content {
    margin: 0 0 24px 0;
    padding: 8px 0;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  &__title {
    flex: 1;
    font-weight: initial;
    line-height: 28px;
    margin: 0;
    color: var(--title-color);
  }

  &__suffix {
    position: relative;
    width: 24px;
  }

  &__icon {
    position: absolute;
    font-size: 24px;
    color: var(--dark-grey);
    top: 1px;
    left: 0px;
  }
}
