@use '@/styles/mixins';

.IndexPage {
  background-color: var(--main-bg-color);

  &__title {
    padding: 24px var(--side-padding) var(--side-padding);
  }

  // Probably obsolete
  &__navigation {
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
    //padding: 24px calc(var(--side-padding) / 2);
    //
    //@include breakpoint_obsolete(xs-up) {
    //  justify-content: space-around;
    //}
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
