@use 'sass:map';
@use 'sass:string';

@mixin tablet-up {
  @media (min-width: 768px) {
    @content;
  }
}

/**
 *
 */
@mixin icomoon($iconCode) {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    content: $iconCode;
  }
}

/**
 *
 */
/**/
@mixin breakpoint($min: 0, $max: 0) {
  $query: 'all' !default;

  @if $min != 0 and $max != 0 {
    $query: '(min-width: #{$min}px) and (max-width: #{$max}px)';
  } @else if $min != 0 and $max == 0 {
    $query: '(min-width: #{$min}px)';
  } @else if $min == 0 and $max != 0 {
    $query: '(max-width: #{$max}px)';
  }
  @media #{$query} {
    @content;
  }
}

/**
 *
 */
@mixin placeholder {
  &.placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}
