name: CI

# on:
#   push:
#     branches: ["main"]
#   pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "23"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Process sources
        run: npm run install:src

      - name: Build
        run: npm run build:test


